# Cars dataset Challenge
In this challenge, Iâ€™ll be using the Cars.csv file from the project data sets website to do some Data Analysis tasks using `Pandas`.

## Task 1: Reading the dataset into a Pandas dataframe

In [1]:
import pandas as pd
cars = pd.read_csv('cars.csv',sep=';')
cars.head(2)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US

In [2]:
## droping first row
cars = cars.drop(cars.index[0])
cars.head(3)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US

In [3]:
## Converting the columns types
cars = cars.astype({"Car":str, "MPG":float, "Cylinders":int,"Displacement":float,"Horsepower":float, \
                   "Weight":float, "Acceleration":float, "Model":int, "Origin":str})
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 1 to 406
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           406 non-null    object
 1   MPG           406 non-null    float64
 2   Cylinders     406 non-null    int32
 3   Displacement  406 non-null    float64
 4   Horsepower    406 non-null    float64
 5   Weight        406 non-null    float64
 6   Acceleration  406 non-null    float64
 7   Model         406 non-null    int32
 8   Origin        406 non-null    object
dtypes: float64(5), int32(2), object(2)
memory usage: 28.5+ KB

## Task 2: Find the car with the highest MPG

In [4]:
#The car with the highest MPG is Mazda GLC
max_mpg = cars['MPG'].max()
filt = cars['MPG'] == max_mpg
cars[filt].head(3)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
330,Mazda GLC,46.6,4,86.0,65.0,2110.0,17.9,80,Japan

## Task 3: Find the car with the lowest MPG

In [5]:
## Select all the cars with a MPG diffrent from 0.O 
filt = cars['MPG'] != 0.0
no_zero_mpg = cars[filt]

In [6]:
#The car with the lowest MPG is Hi 1200D
filt = (no_zero_mpg['MPG'] == no_zero_mpg['MPG'].min())
no_zero_mpg[filt].head(3)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
35,Hi 1200D,9.0,8,304.0,193.0,4732.0,18.5,70,US

## Task 4: Find the average MPG of all cars

In [7]:
#The average MPG of all cars is 23.514
filt = cars['MPG'] != 0
mpg = cars[filt]
avg_mpg = mpg['MPG'].mean()
avg_mpg

23.514572864321607

## Task 5: Find the most common MPG

In [8]:
## Group the dataframe by MPG and Count the number of cars in each group
## The most common MPG is 13.0
mpg.groupby('MPG').agg({'Car': 'count'}).sort_values('Car', ascending=False).head(2)

      Car
MPG
13.0   20
14.0   19